md-card
  md-card-title
    h3.text-center About Us
  md-divider
  md-card-content
    p.text-center BottleSpotter is completely developed and run by two Georgia Tech students in the middle of Atlanta, Georgia.
    p.text-center We love the vibrant craft beer community that has been growing in Atlanta recently, and we wanted to give back with this project. Hopefully you like it!
    p.text-center We're running this site out of our own pockets for the community, but we'd appreciate some help paying the server bills (and some beer money would be nice).
    p.text-center If you'd like to donate to the BottleSpotter, team click&nbsp
      a(ui-sref='donate') here
      | .

    div(layout='row' layout-xs='column' layout-align-xs='center center' layout-align='center stretch')
      md-card(flex='50' flex-xs)
        md-card-content(layout='column' layout-align='center center')
          div.user-circle(md-colors='::{backgroundColor: "default-accent-50"}')
            p.text-center Alec
          h4.text-center Alec Lombardo
          p.text-center Developer
          p.text-center Computer Science and Management
          p.text-center
            a(href='https://aleclombardo.com') aleclombardo.com
      md-card(flex='50' flex-xs)
        md-card-content(layout='column' layout-align='center center')
          div.user-circle(md-colors='::{backgroundColor: "default-accent-50"}')
            p.text-center Rafael
          h4.text-center Rafael Domingo
          p.text-center Designer
          p.text-center Mechanical Engineering and Industrial Design
          p.text-center
            a(href='http://rafaeldomingo.com') rafaeldomingo.com
