div(layout='column' layout-gt-xs='row')
  div.details-page(layout='column' layout-align='center center' flex-gt-xs='30')
    img.img-responsive()
    h3 {{store.name}}
    p {{store.address}}
    p(ng-if='store.phone') {{store.phone}}
    p
      a(ng-if='store.website' href='{{store.website}}' target='_blank') Website
    div(layout='row')
      md-button.md-accent.md-raised(ng-href='/checkin/new?store={{store._id}}') Checkin
      md-button.md-raised.md-primary(ng-show='auth.isLoggedIn()' ng-click='createFollow()') Follow
      md-button.md-raised.md-accent.md-hue-3(ng-if='auth.hasRole("admin")' ng-href='/stores/{{store._id}}/edit') Edit
  md-card(flex-gt-xs='70')
    md-card-content(layout='column' layout-align='space-between start')
      div(ng-if='store.description')
        h4 Details
        p {{store.description}}
      div
        h4 Recent Checkins
        div(layout='row' layout-xs='column' layout-align-xs='start center' layout-wrap layout-align='space-around stretch')
          md-card(ng-repeat='checkin in checkins | limitTo: 6')
            md-card-content.beer-checkin(layout='column' layout-align='center center')
              div.checkin-circle(md-colors='::{backgroundColor: "default-accent-600"}')
                p {{checkin.quantity}}
              p
                a(ng-href='/checkins/{{checkin._id}}') {{checkin.packageType}}
              p
                a(ng-href='/checkins/{{checkin._id}}') {{checkin.time | date: 'short'}}
              p
                a(ng-href='/beers/{{checkin.beer._id}}') {{checkin.beer.breweries[0].nameShortDisplay}} {{checkin.beer.name}}
        p(ng-hide='checkins.length > 0') No checkins found nearby...
