md-content(layout='column' layout-align='start center')
  p.text-center &copy Bottle Spotter
  p Made with &hearts; in Atlanta, GA
  p
    a(ui-sref='about') About Us
  p
    a(ui-sref='donate') Donate
  p
    a(ui-sref='privacy-policy') Privacy Policy
  p
    a(ui-sref='terms-and-conditions') Terms and Conditions
  p Powered by&nbsp
    a(href='http://brewerydb.com' target='_blank') BreweryDB
  
