md-button.facebook(ng-click='OauthButtons.loginOauth("facebook")')
  | Connect with Facebook
md-button.google(ng-click='OauthButtons.loginOauth("google")')
  | Connect with Google
md-button.twitter(ng-click='OauthButtons.loginOauth("twitter")')
  | Connect with Twitter
